<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Gallary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex">
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallary/15.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallary/14.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallary/13.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallary/12.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallary/11.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallary/10.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallary/9.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallary/8.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallary/7.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallary/6.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallary/5.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallary/4.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallary/3.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallary/2.jpg">
</section>
<section class="iDontKnowHowToLoopIamge">
      <img src="assets/gallary/1.jpg">
</section>
</div>

</ion-content>
