<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="xxx">
          <div class="img">
          <img src="assets/gallary/3.jpg">
          </div>
          <div>
           <h3>Jayvee Abejar</h3>
           <a href="faceboook.com"><ion-icon name="logo-facebook"></ion-icon></a>
           <a href="gmail.com"><ion-icon name="mail-outline"></ion-icon></a>
           <a href="github.com"><ion-icon name="logo-github"></ion-icon></a>
          </div>
  </section>

  <ion-card>
    <ion-card-header>
      <ion-card-title>About Me</ion-card-title>
    </ion-card-header>
   <ion-card-content>
      I am 24 years old.
      </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Address</ion-card-title>
    </ion-card-header>
   <ion-card-content>
      Barugo,Leyte
      </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>School</ion-card-title>
    </ion-card-header>
   <ion-card-content>
      Eastern Visayas State University - Carigara Campus
      </ion-card-content>
  </ion-card>
</ion-content>
