<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="xxx">
          <div class="img">
          <img src="assets/profile.jpg">
          </div>
          <div>
           <h3>Ken Bryan Dipa</h3>
           <a href="faceboook.com"><ion-icon name="logo-facebook"></ion-icon></a>
           <a href="gmail.com"><ion-icon name="mail-outline"></ion-icon></a>
           <a href="github.com"><ion-icon name="logo-github"></ion-icon></a>
          </div>
  </section>

  <ion-card>
    <ion-card-header>
      <ion-card-title>About Me</ion-card-title>
    </ion-card-header>
   <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
      Wisconsin Territory in 1836.
      </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Address</ion-card-title>
    </ion-card-header>
   <ion-card-content>
      Carigara,Leyte
      </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>School</ion-card-title>
    </ion-card-header>
   <ion-card-content>
      Eastern Visayas State University - Carigara Campus
      </ion-card-content>
  </ion-card>
</ion-content>
