img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid #00ff55;
    margin-right: 10px;
}

.xxx{
    padding: 20px;
    display: flex;
    align-items: center;
}
ion-icon{
    font-size: 1.5em;
    margin-left: 8px;
}
